<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li><%= link_to "Mis recetas", "/path1"  %></li>
    <li><%= link_to "Mis canales", "/path2"  %></li>
    <li><%= link_to "Mis datos", "/path3"  %></li>
  </ul>
</div><!--/.well -->