<div class="account-container">
  <div class="account-avatar">
    <img src="./img/headshot.png" alt="" class="thumbnail">
  </div> <!-- /account-avatar -->
  <div class="account-details">
    <span class="account-name">Rod Howard</span>
    <span class="account-role">Administrator</span>
    <span class="account-actions">
      <a href="javascript:;">Profile</a> |
      <a href="javascript:;">Edit Settings</a>
    </span>
  </div> <!-- /account-details -->
</div>