<div class="row-fluid">
  <p class="page_title"><i class="icon-home"></i>Dashboard</p>
  <div id="content_dashboard" class="row-fluid">
    <%= render :partial => 'users/my_kitchen' %>
  </div>
</div>