<!-- Banner presentación con video -->
<div class="presentation" style="overflow:hidden">
  <div class="span5">
    <h1>Mesa para uno </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a href="/sign_up" title="Registrate ahora!" class="btn btn-primary">Únete</a>
  </div>
  <div class="span2"></div>
  <div class="span5">
    <div class="flex-video widescreen"><iframe src="http://player.vimeo.com/video/47730556?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
  </div>
</div>
<div class="tp-bannershadow" ></div>
<!-- Que puedes hacer aqui block-->
<div class="row-fluid">
  <div class="span12">
    <h3 class="leads text-center">¿Quienes cocinan?</h3>
  </div>
  <div class="span2"></div>
  <div class="span4">
    <strong>Amateurs</strong>
    <p>Espacio dedicado a explicar la herramienta brevemente a amateurs.</p>
  </div>
  <div class="span4">
    <strong> Chefs </strong>
    <p>Espacio dedicado a explicar la colaboración con chef locales y no locales en el portal.</p>
  </div>
</div>
<hr />
<!-- Daily suggestions-->
<div class="suggestions row-fluid">
  <div class="span12">
    <h3 class="leads text-center">Sugerencias para hoy</h3>
  </div>
  <div class="span2"></div>
  <div class="span4">
   <strong>Amateurs</strong>
   <ul>
     <li>Entrante de <a>Pepito</a></li>
     <li>Primer plato de <a>Fulanita</a></li>
     <li>Segundo plato de <a>Antonio</a></li>
     <li>Postre de <a>Paca</a></li>
   </ul>
  </div>
  <div class="span4">
    <strong>Chefs</strong>
    <ul>
      <li>Entrate de <a>Candido</a></li>
      <li>Primer plato de <a>Cortadillo</a></li>
      <li>Segundo plato de <a>Rinconete</a></li>
      <li>Postre de <a>Mega</a></li>
    </ul>
  </div>
</div>
<!-- Searcher -->
<hr />
<div class="suggestions row-fluid">
  <div class="span12">
    <h3 class="leads text-center">Busca tu receta para hoy </h3>
  </div>
  <div class="span12">
    <%= render :partial => "search/form_general" %>
  </div>
</div>